<launch> 
    <!-- datasets path -->
    <param name="seq_dir" type="string" value="/home/bhbhchoi/Project/Datasets/DDC_01/" />
    <!-- KeyFrame -->
    <param name="keyframe_meter_gap" type="double" value="0.0"/> 
    <param name="is_withInitialICP"  type="bool"   value="true"/>
    <!-- save path -->
    <param name="save_directory" type="string" value="/home/bhbhchoi/Project/ReFeree_journal/results/"/>  <!-- CHANGE THIS and end with / -->
    <node pkg="yeti" type="yetiOdom" name="yetiOdom" output="screen" />
    <node pkg="yeti" type="posegraph" name="posegraph" output="screen" />
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find yeti)/rviz/yeti_pgo_rviz.rviz" />
    </group>
</launch>